{% extends 'base.html.twig' %}

{% block main %}

    <h1>Hello {{ user.firstName }} {{ user.lastName }}!</h1><br />

    <h3>First Name: {{ user.firstName }}</h3>

     <h3>Last Name: {{ user.lastName }}</h3>

    <h3>Email: {{ user.email }}</h3>

    <h3>Telephone: {{ user.telephone }}</h3>

    <h3>Address: {{ user.address }}</h3>

    <h3>City: {{ user.city }}</h3>

    <h3>Post Code: {{ user.postCode }}</h3>

    <h3>Region: {{ user.region }}</h3>



{% endblock %}