{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('product_delete', {id: product.id}) }}" method="POST">
                <fieldset>
                    <legend>Delete Post</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_name">Post Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_name" placeholder="Post Name"
                                   name="product[name]" value="{{ product.name }}" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_image">Post Image</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_image" placeholder="Post Image"
                                   name="product[image]" value="{{ asset('uploads/' ~ product.image) }}" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_description">Post Description</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_description" placeholder="Post "
                                   name="product[description]" value="{{ product.description }}" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_price">Post Price</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_price" placeholder="Post Price"
                                   name="product[price]" value="{{ product.price }}" disabled>
                        </div>
                    </div>


                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('product_view', {id: product.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


{% endblock %}

